h1{
    color:green;
    font-family:fantasy;
}
p{
    color:brown;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
ul{
    list-style-image: url('images/pointer-icon.png');
}

ol{
    list-style-type:upper-roman;
}
#menu-bar a{
    text-decoration: none;
    background-color: aquamarine;
    padding: 5px;
}
#menu-bar a:hover{
    font-family:fantasy;
    background-color:aqua;
    color:#ffffff;

}